@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Create Category</h2>
        <br/>
    </div>
    <div class="mb-3">
        <label asp></label>
    </div>

</form>